.placeholder {
  border-style: dashed;
  border-color: white;
  width: 25%;
  margin-left:-12.5%;
  height: 30%;
  border-radius: 8px;
  padding: 6px;
  border-width: thin;
}

.center {
  position:absolute;
  right:50%;
  left:50%;
}

.bottom {
  position:absolute;
  bottom:24px;
}

.top {
  position:absolute;
  top:26px;
}

.right {
  position:absolute;
  right:24px;
}

.left {
  position:absolute;
  left:24px;
}

.small {
  width:160px;
  height:80;
}

.table {
  width: 80%;
  height: 90%;
  margin-left:-40%;
  bottom:-40%;
  background-image: radial-gradient(49% 108%, #0A893A 55%, #03461B 100%);
  border: 24px solid rgba(61,60,60);
  border-radius: 400px;
}

body {
    background-color: #222222;
}
