<!DOCTYPE HTML>
<html>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" href="static/style.css">
</head>

<body>

<script src="static/script.js"></script>

<div class="table center bottom"></div>

  <img id="reaction" class="placeholder top center" src="#"/>
  <div class="dialog-up top2 right2">Raise $20</div>

  <img id="cards" class="placeholder bottom center" src="static/{{cards_image}}"/>
  <div class="dialog-down bottom right">The opponent seems 90% confident</div>


  <div class="tablero center center-v">🂠🂠🂠</div>

      <div class="btn btn-secondary small top left">
        <label for="reaction-files">Upload Reaction</label>
        <input id="reaction-files" style="visibility:hidden;" type="file" onchange="browseFile(this, 'reaction');">
      </div>

      <div class="btn btn-secondary small top left2">
        <label for="audio-files">Upload Action</label>
        <input id="audio-files" style="visibility:hidden;" type="file"  onchange="browseFile(this, 'cards');">
      </div>

      <div class="btn btn-secondary small bottom left">
        <form method=post id="target" enctype=multipart/form-data>
          <label for="card-files">Upload Cards</label>
          <input id="card-files" style="visibility:hidden;" type="file" name=cards_image onchange="$('#target').submit();">
          <input type=submit value=Upload style="visibility:hidden;">  
        </form>
      </div>

</body>
</html>
