body {
  font-size: 2em;
}

.dialog-down {
  /* Rectangle 2 Copy: */
  background: #F1F0F0AA;
  border-radius: 15px 15px 0px 15px;
  padding: .5em;
  font-size: 1.5em;

  position: absolute;
  width: 60%;
  bottom:24px;

}

.dialog-up {
  /* Rectangle 2 Copy: */
  background: #F1F0F0AA;
  border-radius: 0px 15px 15px 15px;
  padding: .5em;
  font-size: 1.5em;

  position: absolute;
  width: 60%;
  top:25%;
}

.placeholder {
  border-style: dashed;
  border-color: white;
  height: 30%;
  margin-left:-30%;
  border-radius: 12px;
  padding: 6px;
  border-width: thick;
}

.center-h {
  position:absolute;
  right:50%;
  left:50%;
}

.center-v {
  position:absolute;
  top:50%;
  down:50%;
}

.bottom {
  position: absolute;
  bottom: 5em;
}

.left {
  position:absolute;
  left:5%;
}

.right {
  position:absolute;
  right:5%;
}

/*Floating action button*/
.fav {
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, .5);
    width: 4.5em;
    height: 4.5em;
    border-radius: 100%;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    bottom: 1em;
    right: 1em;
}

.fav:hover{
    box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, .5);
    width: 4.6em;
    height: 4.6em;
}
/*Floating action button*/

.tablero {
  position: absolute;
  background: white;
  border-radius: 15px;
  width: 100%;
  font-size: 4em;
  margin-left:-50%;
  margin-top:-1em;
  text-align: center;

}
